<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nucpoop.covserver.dao.UserDao">

  <select id="selectUsers" resultType="com.nucpoop.covserver.model.User">
  	SELECT * FROM user_temp
  </select>
  <select id="selectUserByID" parameterType="int" resultType="com.nucpoop.covserver.model.User">
    select * from user_temp where id = #{id}
  </select>


  <insert id="insertUser" parameterType="com.nucpoop.covserver.model.User">
    insert into user_temp(user_id, user_passwd, user_name, user_phone, user_email)
    values
    (#{userID}, #{userPasswd}, #{userName}, #{userPhone}, #{userEmail})
  </insert>

</mapper>