<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nucpoop.covserver.mapper.UserMapper">

  <insert id="insertUser" parameterType="com.nucpoop.covserver.model.User">
    insert into users(created_at, updated_at, email, notify_yn, password)
    values
    (now(), now(), #{email}, 'N',#{password})
  </insert>

  <select id="findByEmail" resultType="com.nucpoop.covserver.model.User">
    select * from users where email = #{email}
  </select>

  <select id="findById" resultType="com.nucpoop.covserver.model.User">
    select * from users where id = #{id}
  </select>

  <select id="notifyEmail" parameterType="String" resultType="com.nucpoop.covserver.model.User">
    select email, location from users where notify_time = #{time} and notify_yn = 'Y'
  </select>

  <update id="updatePassword" parameterType="com.nucpoop.covserver.model.User">
    update users set password = #{password}, updated_at = now() where email = #{email}
  </update>

  <update id="updateLocation" parameterType="com.nucpoop.covserver.model.User">
    update users set location = #{location}, updated_at = now() where email = #{email}
  </update>

  <update id="updateNofity" parameterType="com.nucpoop.covserver.model.User">
    update users set notify_yn = #{notifyYn}, notify_time = #{notifyTime}, updated_at = now() where email = #{email}
  </update>

  <delete id="deleteUser" parameterType="com.nucpoop.covserver.model.User">
    delete from users where email = #{email}
  </delete>

</mapper>