<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nucpoop.covserver.mapper.UserMapper">

  <select id="selectUsers" resultType="com.nucpoop.covserver.model.User">
  	SELECT * FROM user_temp
  </select>

  <select id="selectUserByIndex" parameterType="int" resultType="com.nucpoop.covserver.model.User">
    select * from user_temp where id = #{index}
  </select>

  <select id="selectUserByID" parameterType="String" resultType="com.nucpoop.covserver.model.User">
  select * from user_temp where user_id = #{id}
  </select>


  <insert id="insertUser" parameterType="com.nucpoop.covserver.model.User">
    insert into users(created_at, updated_at, email,notify_yn,password)
    values
    (now(),now(), #{email}, 'N',#{password})
  </insert>

  <select id="findByEmail" resultType="com.nucpoop.covserver.model.User">
    select * from users where email = #{email}
  </select>

  <select id="findById" resultType="com.nucpoop.covserver.model.User">
    select * from users where id = #{id}
  </select>

</mapper>